@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');


:root {
  /* color primary */
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  /* color neutral */
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-grey);
}



#app {
  background-color: white;
  padding: 2rem;
  margin: auto;
  color: var(--Smokey-grey);
  max-width: 520px;
  border-radius: 1rem;
  border-bottom-right-radius: 5rem;
}

.up-content {
  border-bottom: 1px solid var(--Light-grey);
  padding-bottom: 2rem;
  position: relative;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
}

label {
  display: block;
  font-size: .7rem;
  margin-bottom: 0.2rem;
}

input[type=text] {
  max-width: 100px;
  margin-right: 1rem;
  height: 40px;
  padding: 0.5rem;
  outline: none;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text]:focus {
  border: 2px solid var(--Purple);
}

button {
  position: absolute;
  right: 0;
  bottom: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--Purple);
  cursor: pointer;
}

button:hover {
  background-color: var(--Off-black);
}

button>img {
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
}

.down-content {
  margin-top: 1.5rem;
}

.down-content>p {
  font-size: 4rem;
  line-height: 4rem;
  font-style: italic;
  font-weight: 800;
  color: var(--Off-black);
}

input[type=text] {
  max-width: 100px;
  margin-right: 1rem;
  height: 40px;
  padding: 0.5rem;
  outline: none;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.down-content>p>span {
  color: var(--Purple);
}

.validation {
  margin-top: .3rem;
  font-size: .6rem;
  font-style: italic;
  font-weight: 400;
}

.invalid-day,
.invalid-month,
.invalid-year {
  color: var(--Light-red);
}

@media (min-width: 675px) {
  .container {
    margin: 150px;
  }
}

@media (max-width: 675px) {
  .container {
    margin: 24px;
  }

  .down-content>p {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  input[type=text] {
    max-width: 60px;
    height: 30px;
    font-size: 0.7rem;
    padding: 0.3;

  }

  label {
    font-size: 0.5rem;
  }

  .validation {
    margin-top: .3rem;
    font-size: .4rem;
    font-style: italic;
    font-weight: 400;
  }
}